Algoritmia_P1/Algoritmia_P1/Validar/validar.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio Developer Edition (Trial) 9.1.11.3570 (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Configuracion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Listas">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Lista">
                <xs:complexType>
                  <xs:attribute name="Numero_Elementos" type="xs:unsignedShort" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Algoritmo" type="xs:string" use="optional" />
            <xs:attribute name="Orden" type="xs:string" use="optional" />
            <xs:attribute name="Numero_Listas" type="xs:unsignedByte" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>